/*
Author: Dylan Ingram
Date: 9/28/19
Description: CSS file for styling the GUI scenes.
*/
/*
I have no idea why these show up as warnings for being unused. They are used.
*/
.root {
  -fx-background-color: #ffe6cc;
}

.tab {
  -fx-background-color: #f8ebbf;
}

.tab:selected {
  -fx-background-color: #ffe6cc;
}

.label {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #333333;
}

.button {
  -fx-background-color: linear-gradient(#ffdbb8, #cc6600);
  -fx-border: 2px;
  -fx-border-style: solid;
  -fx-border-color: #b35900;
}

.button:hover {
  -fx-background-color: #cc6600;
}
